{% extends 'portfolio_app/base_template.html' %}

{% block content %}
<h1>Portfolio Title: {{ portfolio.title }}</h1>
<a class="btn btn-info" href="{{portfolio.get_absolute_url}}/update" role="button">Edit</a>

<p><strong>Contact Email:</strong> {{ portfolio.contact_email }}</p>
<p><strong>Is Active:</strong> {{ portfolio.is_active }}</p>
<p><strong>About:</strong> {{ portfolio.about }}</p>

<h2>Project List</h2>
<ul class="list-group">
{% for i in student_portfolio_projects %}
<li class="list-group-item"><strong>Project: {{i.title}}
<p>Description: {{i.description}}
<a class="btn btn-primary" href="{{i.get_absolute_url}}" role="button">View</a>
<a class="btn btn-danger" href="{{i.get_absolute_url}}/delete">Delete</a>
<a class="btn btn-info" href="{{i.get_absolute_url}}/update" role="button">Edit</a>
</li>
{% endfor %}
</ul>
<a class="btn btn-primary" href="{% url 'project-form' portfolio.id %}" role="button">New Project</a>

{% endblock %}
